
<div class="dashboard">

  <!-- header navigation -->
  <header>
    <div class="container">
      <a class="header-link" (click)="authService.SignOut()">
        <img src="https://cdn-icons-png.flaticon.com/512/4662/4662171.png" alt="out">
        <span>Выйти</span>
      </a>
    </div>
  </header>

  <div class="container dashboard-content">
    <!-- Main content -->
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Ваш профиль</h1>
    </div>
    <main role="main" *ngIf="authService.user as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail" src="{{(user.photoURL) ? user.photoURL : '/assets/icons/profile_avatar.svg'}}"
               alt="{{user.displayName}}">
          <div class="media-body">
            <h1>Добро пожаловать, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>Email: <strong>{{user.email}}</strong></p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
