<div class="form-item">

  <label [for]="inputId">
    {{label}} <span *ngIf="required" class="required">*</span>
    <input
        class="form-input"
        [formControl]="control"
        [id]="inputId"
        [type]="type"
        [required]="required"
        [ngClass]="{
        'password': password,
        'error': control.invalid && control.dirty && control.touched,
        'valid': control.valid && control.dirty && control.touched
        }"
    >
  </label>

  <span *ngIf="password"
        (click)="hideShowPass()"
        class="fa {{type === 'password' ? 'fa-eye-slash' : 'fa-eye'}}"
  >
  </span>

  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <div class="text-error" *ngFor="let err of control.errors | keyvalue">
      {{ errorMessages[err.key] }}
    </div>
  </ng-container>

</div>
