<div class="body">

  <div class="form form-body">

    <div class="form-title">Регистрация</div>

    <form class="form-block" [formGroup]="registerForm">

      <app-input
        [control]="registerForm.controls['email']"
        inputId="email"
        label="Email"
        [type]="'text'"
        [required]="true"
      ></app-input>

      <app-input
        [control]="registerForm.controls['password']"
        inputId="password"
        label="Password"
        [type]="'password'"
        [password]="true"
        [required]="true"
      ></app-input>

      <app-input
        [control]="registerForm.controls['passwordConfirm']"
        inputId="password"
        label="Password Confirm"
        [type]="'password'"
        [password]="true"
        [required]="true"
      ></app-input>

      <span
        *ngIf="registerForm.controls['passwordConfirm'].value !== registerForm.controls['password'].value
              && registerForm.controls['password'].valid
              && registerForm.controls['passwordConfirm'].valid"
        class="passwords-error-message"
      >
        Пароли не совпадают
      </span>

      <!--      этот блок пока ни на что не влияет, но может пригодиться на будущее-->
      <!--      <div class="form-item">-->
      <!--        <div class="checkbox">-->
      <!--          <input id="formAgreement" checked type="checkbox" name="agreement" class="form-body__agreement _req">-->
      <!--          <label for="formAgreement" class="label__checkbox">-->
      <!--            <span>Я даю согласие на обработку моих персональных данных <a  class="popup-link">Подробнее*</a></span>-->
      <!--          </label>-->
      <!--        </div>-->
      <!--      </div>-->

    </form>

    <button
      class="form-body__btn"
      (click)="register()"
      [disabled]="registerForm.invalid
      || registerForm.controls['passwordConfirm'].value !== registerForm.controls['password'].value"
    >
      Зарегистрироваться
    </button>

    <div class="redirects-block">

      <div class="alternative-auth" (click)="authService.GoogleAuth()">
        <img src="https://cdn-icons-png.flaticon.com/512/1240/1240979.png" alt="">
        <span>Войти с помощью Google</span>
      </div>

      <div class="redirectToLogin">
      <span>Уже есть аккаунт?
        <span class="redirect" (click)="goToUrl('login')">
        Войти
        </span>
      </span>
      </div>

    </div>

  </div>

</div>

