/* You can add global styles to this file, and also import other style files */
html {
  font-family: Roboto, sans-serif;
}

ion-toast {
  --box-shadow: 0px 4px 15px rgba(10, 18, 62, 0.2);
  --border-radius: 10px;

  &.toast-type-success {
    --background: #B2E9BC;
    color: #2B9D3E;
  }

  &.toast-type-danger {
    --background: #FFC8D8;
    color: #000;
  }

  &.toast-type-primary {
    --background: #BCA3EE;
    color: #814AEC;
  }
}

.loading-container {
  --background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  //transition: all ease-in-out 0.5s;

  .loading-wrapper {
    min-width: 100vw;
    min-height: var(--app-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-spinner-container {
    ion-spinner {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      color: #52ADDF;
      user-select: none;
      transform: scale(3) !important;
    }
    //.loading-spinner {
    //  width: 20vw;
    //  animation: spin 4s infinite linear;
    //}
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9e9e9;
}

.form-body {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 18.0727px rgb(0 0 0 / 20%);
  border-radius: 12px;
  width: 90%;
  max-width: 300px;
  overflow: hidden;
  padding: 35px 35px;

  .form-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .form-subtitle {
    text-align: center;
    line-height: 17px;
    margin-bottom: 15px;
  }

  .form-block {
    margin-bottom: 25px;
  }

  &__btn {
    width: 100%;
    background: #5178AC;
    border: 1px solid #CACACA;
    color: #fff;
    height: 35px;
    border-radius: 12px;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      background: #6a94cc;
    }
  }

  .redirects-block {
    margin-top: 25px;
    font-size: 12px;
    .alternative-auth {
      font-size: 11px;
      line-height: 100%;
      text-decoration: underline;
      color: #5178AC;
      margin-bottom: 15px;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      img {
        height: 15px;
        width: 15px;
        margin-right: 10px;
      }
      &:hover {
        color: #17478b;
      }
    }
    .redirectToLogin {
      .redirect {
        font-size: 11px;
        line-height: 100%;
        text-decoration: underline;
        color: #5178AC;
        margin-left: 5px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: #17478b;
        }
      }
    }
  }
}
