<div class="back-place">

  <div class="form form-body">

    <div class="form-title">Войти в аккаунт</div>

    <form class="form-block" [formGroup]="loginForm">

      <app-input
        [control]="loginForm.controls['email']"
        inputId="email"
        label="Email"
        [type]="'text'"
        [required]="true"
      ></app-input>

      <app-input
        [control]="loginForm.controls['password']"
        inputId="password"
        label="Password"
        [type]="'password'"
        [password]="true"
        [required]="true"
      ></app-input>

    </form>

    <button
      class="form-body__btn"
      (click)="login()"
      [disabled]="loginForm.invalid"
    >
      Войти
    </button>

    <div class="redirects-block">

      <div class="alternative-auth" (click)="loginWithGoogle()">
        <img src="https://cdn-icons-png.flaticon.com/512/1240/1240979.png" alt="">
        <span>Войти с помощью Google</span>
      </div>

      <div class="alternative-auth" (click)="goToUrl('forgot-password')">
        <img src="https://cdn-icons-png.flaticon.com/512/8224/8224722.png" alt="">
        <span>Забыли пароль?</span>
      </div>

      <div class="redirectToLogin" (click)="goToUrl('register')">
      <span>Ещё нет аккаунта?
        <span class="redirect">
        Зарегистрироваться
        </span>
      </span>
      </div>

    </div>



  </div>


</div>

