<div class="body">

  <div class="form form-body">

    <div class="form-title">Восстановление пароля</div>

    <div class="form-subtitle">Введите свой адрес электронной почты, чтобы запросить сброс пароля</div>

    <form class="form-block" [formGroup]="gorGotForm">

      <app-input
        [control]="gorGotForm.controls['email']"
        inputId="email"
        label="Email"
        [type]="'text'"
        [required]="true"
      ></app-input>

    </form>

    <button
      class="form-body__btn"
      (click)="authService.ForgotPassword(gorGotForm.value.email)"
      [disabled]="gorGotForm.invalid"
    >
      Восстановить
    </button>

    <div class="redirects-block">

      <div class="redirectToLogin">
      <span>Вернуться?
        <span class="redirect" routerLink="/login">
        Войти
        </span>
      </span>
      </div>

    </div>

  </div>

</div>

