<div class="body">

  <div class="form form-body">

    <div class="form-title">Восстановление пароля</div>

    <div class="form-subtitle">Введите свой адрес электронной почты, чтобы запросить сброс пароля</div>

    <div class="form-block">

      <div class="form-item">
        <label for="formEmail">Email*</label>
        <input
            #passwordResetEmail
            id="formEmail"
            type="text"
            name="name"
            class="form-body__name _req"
            (input)="checkPasswordResetEmailInput(passwordResetEmail)"
            required>
      </div>

    </div>

    <button
      class="form-body__btn"
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
      [disabled]="!passwordResetEmail.value.length"
    >
      Восстановить
    </button>

    <div class="redirects-block">

      <div class="redirectToLogin">
      <span>Вернуться?
        <span class="redirect" routerLink="/login">
        Войти
        </span>
      </span>
      </div>

    </div>

  </div>

</div>

