<div class="body">

  <div class="form form-body">

    <div class="form-title" *ngIf="authService.user as user">Спасибо за регистрацию</div>

    <div class="form-subtitle" *ngIf="authService.user as user">
      <p>Мы отправили подтверждение по электронной почте на адрес <strong>{{user.email}}</strong>.</p>
      <p>Пожалуйста, проверьте свою электронную почту и нажмите на ссылку для проверки адреса электронной почты.</p>
    </div>

    <div class="form-subtitle" *ngIf="!authService.user as user">
      <p>Похоже на то, что вы оказались здесь случайно</p>
    </div>

    <button class="form-body__btn" *ngIf="authService.user as user" (click)="authService.SendVerificationMail()">
      Отправить повторно?
    </button>

    <button class="form-body__btn form-body__btn-enter" *ngIf="authService.user as user" (click)="login()">
      Войти
    </button>

    <div class="redirects-block">

      <div class="redirectToLogin">
      <span>Вернуться?
        <span class="redirect" (click)="goToUrl('login')">
          Войти
        </span>
      </span>
      </div>

    </div>

  </div>

</div>

